@model Vendor.Domain.Entites.Products.Product

@{
    ViewData["Title"] = "ویرایش";
    Layout = "";
}


<h4>ویرایش</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsAccepted" />

            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <label asp-for="ProductTypeId" class="control-label"></label>
                        <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <label asp-for="CompanyId" class="control-label"></label>
                        <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <label asp-for="CorroborantId" class="control-label"></label>
                        <select asp-for="CorroborantId" class="form-control" asp-items="ViewBag.CorroborantId"></select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="form-group form-check">
                        <label class="control-label">لیست مراکز تاییدکننده محصولات تولیدی</label>
                        <input asp-for="ManufacturerCenters" class="form-control" />
                        <span asp-validation-for="ManufacturerCenters" class="text-danger"></span>


                    </div>
                </div>

            </div>


            @*<div class="rounded border border-secondary mb-2">
        <h6>میزان تولید</h6>*@
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label">بارگذاری مدارک تایید کننده</label>
                    <a href="DownloadFile/@Model.UploadControlForm" data-placement="bottom" data-toggle="tooltip" title="File1"
                       class="btn btn-light"><i class="fas fa-download text-success"></i></a>
                    @*<div class="form-group">
            <label class="control-label">بارگذاری مدارک تایید کننده</label>
            <input type="hidden" id="UploadControlForm" name="UploadControlForm" value="">
            <input required="required" type="file" id="UploadControlForm" name="UploadControlForm" class="form-control form-control-sm">

            <span asp-validation-for="UploadControlForm" class="text-danger"></span>
        </div>*@
                </div>
            </div>
            <div class="row">

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input  mr-2" asp-for="Guarantee" /><span class="mr-4"> آیا محصولات دارای ضمانت کیفیت، گارانتی و خدمات پس از فروش می باشد؟ </span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input mr-2" asp-for="Environment" /><span class="mr-4"> آیا مسائل زیست محیطی در تولید محصول مورد توجه قرار گرفته است؟</span>
                    </label>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
