
    @using Stimulsoft.Report.Mvc;
    @{ Layout = ""; }

 
    <div class="row">
        @Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
        {

            Server =
                            {
             Controller = "Products"

                            },
            Actions =
            {
                GetReport = "Print",
                ViewerEvent = "ViewerEvent"
            }
        })
    </div>

