@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>ایجاد نقش</h4>
<hr/>
<form asp-action="Create" method="post">
  

    <div class="form-group">
        <label for="name" class="control-label">نام نقش</label>
        <input name="name" class="form-control" />
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-0 col-md-8">
            <input type="submit" value="ذخیره" class="btn btn-success btn-circle" />

        </div>
    </div>
</form>

@*<h1 class="bg-info text-white">ایجاد نقش جدید</h1>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>*@