@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/Start_Layout.cshtml";
}




@*<div class="card border-0 mb-0 mt-5">

    <div class="card-body col-lg-8 offset-lg-2" style="direction:rtl !important;border:1px solid !important">

        <form id="account" method="post" class="form-element">
            <div asp-validation-summary="All" class="text-danger text-right delay-2s"></div>
            <div class="form-group has-feedback animated fadeInDown delay-3s">
                <input type="text" asp-for="Input.UserName" class="form-control" placeholder="شماره همراه">

            </div>
            <div class="row animated fadeInUp delay-4s">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-block mt-10 btn-success">ادامه</button>
                </div>
            </div>
        </form>


    </div>
</div>*@


<div id="login">
    <h3 class="text-center text-white pt-5" style="color: #767db9 !important">سامانه وندور لیست</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <div asp-validation-summary="All" class="text-danger text-right delay-2s"></div>

                        <div class="form-group">
                            <label for="username" class="text-info">شماره همراه</label><br>
                            <input type="text" asp-for="Input.UserName" name="username" id="username" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-block mt-10 btn-success" value="ادامه">

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
